@model IEnumerable<FlightTracker.Metier.Entities.Plane>

@{
    ViewData["Title"] = "Liste des avions";
}

<h2>Liste des avions</h2>

<p>
    <a asp-action="AddPlane">Ajouter un nouvel aéroport</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="EditPlane" asp-route-id="@item.Id">Modifier</a> |
                    <!--<a asp-action="Details" asp-route-id="@item.Id">Details</a> |-->
                    <a asp-action="DeletePlane" asp-route-id="@item.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>